@import url(./css/style.css);
/* 
--------------------------
--------------------------
--------------------------
sign-up.html
--------------------------
--------------------------
--------------------------
*/
/* sign-up.html 상단바 */
.sign-upTab {
   width: 100%;
   height: fit-content;
   display: inline-block;
   margin: 10px 0 22px 0;
   padding: 15px 25px;
   font-size: 25px;
   text-align:center;
   color:white;
   background-color:black /*rgb(52, 152, 219)*/;
   border: 1px solid transparent;
   border-radius: 25px;
   font-family: 'Black Han Sans', sans-serif;
   white-space: nowrap;
}
.sign-upTab::-webkit-scrollbar
{
display:none;
}
/* sign-up-table css */
#middle .sign-up-table {
   display: flex;
   justify-content: center;
   font-family:'Black Han Sans', sans-serif;
   font-size: 20px;
   line-height: 30px;
  
   padding: 20px;
   background-color: white;
   width: 70%;
   margin-left: 120px;
   margin-top: 5px;
   margin-bottom: -1px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}

/* sign-up-table input css */
#middle .sign-up-table input {
   width: 200px;
   height: 30px;
   font-size: 15px;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* sign-up-table 가입하기 button css */
.sign-upBtn {
   border: 0;
   outline: 0;
   white-space: nowrap;
   padding: 8px 15px;
   background-color: black;
   width: 70%;
   height: fit-content;
   margin-left: 120px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}

/* sign-up-table a링크 css */
#middle a {
   font-family:'Black Han Sans', sans-serif;
   text-decoration: none;
   color: white;
   font-size: 20px;
}

/* 메인가기 버튼 css */
.mainBtn {
   float:left;
   text-align: center;
   width: 130px;
   height: 60px;
   padding:20px;
   margin:10px 10px auto;
   border-radius: 25px;
   background-color: black;
   border: 0;
   outline: 0;
}
.mainBtn a{
   text-decoration: none;
   color: white;
   font-family:'Black Han Sans', sans-serif;
   font-size: 20px;
}
.mainBtn a:hover{
   color: red;
}