#tablet {
	border: 20px solid #222;
	box-sizing: content-box;
	margin: 0 auto;
	width: 1100px;
	height: 600px;
	border-radius: 25px;
	background-image: url("벽돌.png");
}

.modal {
	color: black;
	display: none; /* Hidden by default */
	position: fixed; /*Stay in place */
	float: right;
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
}
/* Modal Content/Box */
/* .modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
} */
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal-call {
	display: block;
	position: absolute;
	top: 41.5%;
	left: 85%;
	transform: translate(-50%, -50%);
	animation: flicker 150000000000s infinite alternate;
	font-family: "Jua", sans-serif;
	background: rgba(0, 0, 0, 0.829);
	color: #fff;
	padding: 46px 0;
	font-size: 30px;
	width: 250px;
	height: 500px;
	border-radius: 3rem;
	border: 3px solid #fff;
	text-align: center;
}

#call_close {
	display: block;
	position: absolute;
	width: 100%;
	height: 50px;
	margin-top: 480px;
	padding: 10px;
	text-align: center;
	border: none;
	cursor: pointer;
	border-radius: 0.5rem;
	background: transparent;
	color: white;
}